* {
    box-sizing: border-box;
  }
  
  body {
    padding: 0;
    margin: 0;
    color: #fff;
    background: rgb(80,78,255);
    background: linear-gradient(90deg, rgba(80,78,255,1) 0%, rgba(217,0,255,1) 60%);
  }