*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{ 
 scroll-behavior: smooth;
}

body{
	font-family: 'Bebas Neue', cursive;
}

.contenedor{
	width: 90%;
	max-width: 1200px;
	overflow: hidden;
	margin: auto;
	padding: 60px 0;
}

header{
	height: 100vh;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%), url(FotosShoes/ZapatosIDX.jpg);
	background-blend-mode: multiply,multiply, ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.head{
	padding: 0;
	height: 100%;
	display: flex;
	justify-content:  center;
	align-items: center;
	flex-direction: column;
	color: white;
}

.menu{
	position: fixed;
    top: 30px;
    right: 30px;
    background: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.menu-navegador{
	position: fixed;
	top: 0;
	right: 0;
	width: 30vw;
	height: 100%;
	background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	transition: transform .3s ease-in-out;
	transform: translate(110%);
	box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.spread{
	transform: translate(0);
}

.menu-navegador a{
	color: white;
	text-decoration: none;
}

.titulo{
	font-size: 60px;
	margin-bottom: 15px;
}

.eslogan{
	font-weight: 300;
	font-size: 25px;

}

/* Nuestras Marcas */

.subtitulo{
	text-align: center;
	font-weight: 300;
	background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
	color: white;
	margin-bottom: 40px;
	font-size: 40px;
}

.contenedor-servicio{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

.contenedor-servicio img{
	width: 40%;
}

.checklist-servicio{
	width: 45%;
}

.service{
	margin-bottom: 20px;
}

.numeros-servicio{
	margin-bottom: 7px;
	color: #EA6800;
}

.numero{
	display: inline-block;
	background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
	width: 30px;
	height: 30px;
	color: white;
	text-align: center;
	border-radius: 50%;
	font-weight: 700;
	line-height: 30px;
	margin-right: 10px;
}

.marcas{
	background: white;
}

.contenedor-zapatillas{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.contenedor-marcas{
	display: flex;
	justify-content: space-evenly;
	height: 100px;
	width: 1000px;
	margin: auto;
	margin-bottom: 100px;
}
.img-marcas{
	width: 150px;
	height: 150px;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
}


/* Footer */

footer{
	background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
	padding-bottom: 0.1px;
}

.footer-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 60px;
	padding-bottom: 40px;
}

.contact{
	width: 40%;
	color: white;
}

.brand{
	font-weight: 500;
	font-size: 40px;
}

.brand p{
	font-weight: 500;
}

.redes-sociales{
	width: 50%;
	display: flex;
	justify-content: flex-end;
}

.red-social-icono{
	display: inline-block;
	margin-left: 20px;
	width: 60px;
	height: 60px;
	border: 1px solid white;
	border-radius: 50%;
	text-align: center;
	color: white;
}

.red-social-icono:hover{
	background: white;
	color: darkorange;
}

.red-social-icono i{
	font-size: 35px;
	line-height: 55px;
}

.img-port{
	width: 24%;
	height: 200px;
	margin-bottom: 10px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	box-shadow: 0 0 6px 0 rgba(0,0,0.5)
}

.img-port > img{
	width: 100%;
	height: 100%;
	object-fit: conver;
	display: block;
}

.hover-galeria{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	transform: scale(0);
	background: hsla(120,100%,100%,1);
	transition: transform .5s;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.hover-galeria img{
	width: 50px;
}

.hover-galeria p{
	color: black;
}


.img-port:hover .hover-galeria{
	transform: scale(1);
}

.logoletras{
	width: 500px;
	height: 90px;
	margin-right: 350px;
	margin-left: 350px;
}